{
  "projects": {},
  "targets": {
    "your-project-id": {
      "hosting": {
        "demo": [
          "your-demo-site-name"
        ],
        "production": [
          "your-production-site-name"
        ]
      }
    }
  },
  "etags": {}
}